#cabecalho {
    color: brown;
    background: goldenrod;
    display: inline;
    margin-left: 200px;
}

a {
    color: red;
    background: white;
}

p {
    color: green;    

}

h2 {
    color: gold;
    background: green;
}

table {
    border-color: black;
    border-width: 5px;
    border-style:solid;
    margin: 10px 10px 50px 150px;
}

th {
    border-color: black;
    border-width: 3px;
    border-style:solid;
}

td{
    border-color: black;
    border-width: 1px;
    border-style:solid;
}
